{% extends 'main_layout.html' %} {% block body %}
<section class="app">
  {% include "employee/aside.html" %}

  <main class="Dashboard">
    <div class="main_container container-fluid dashboard_wrapper p-4">
      <div class="hero container">
        <div class="text">
          <h3>Hello {{ current_user.first_name }}!</h3>
          <p class="text-secondary">Welcome to your dashboard</p>
        </div>
      </div>

      <div class="container stats">
        <div class="stat">
          <h3>{{ leaves_count }}</h3>
          <a
            href="{{ url_for('leaves.employee_view_leaves') }}"
            class="text-dark"
            >Leaves</a
          >
        </div>

        <div class="stat">
          <h3>{{ announcements_count }}</h3>
          <a
            href="{{ url_for('announcements.employee_view_announcements') }}"
            class="text-dark"
            >Announcements</a
          >
        </div>
      </div>
    </div>
  </main>
</section>
{% endblock body %}
