$aside_width: 13%;
$theme_color: #0241b8;

.app {
  background: $theme_color;
  height: 100vh;
  display: flex;
  align-items: center;

  aside {
    width: $aside_width;
    height: 100%;
    padding: 0.5em 0 0.2em 0.2em;
    color: #fff;

    h1 {
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
    }

    .links {
      // *{border: 2px solid white;}
      ul {
        list-style: none;

        li {
          margin: 0.1em 0;
          padding: 6px;

          &:hover {
            background: rgb(2, 2, 70);
            border-radius: 12px;
          }

          a {
            text-decoration: none;
            color: #ffffff;
            display: flex;
            align-items: center;
          }
        }
      }

      ul:nth-of-type(1) {
        margin: 2em 0;
      }
      ul:nth-of-type(2) {
        position: absolute;
        bottom: 1em;
      }

      .icon {
        margin: 0 0.3em 0 0;
      }

      a span:nth-of-type(2),
      .icon {
        font-size: 0.95em;
      }

    }
  }

  main {
    width: calc(100% - $aside_width);
    border-radius: 16px;
    height: 99vh;
    overflow-y: auto;
    z-index: 5;

    .container {
      background: #fff;
      padding-bottom: 12px;
    }
  }
}

@media screen and (width <= 576px) {
    .app {
        aside {
            h1 {
                display: none;
            }
            a span:nth-of-type(2) {
                display: none;
            }
        }
    }
}

@import "dashboard";
@import "employees";
