.Authentication {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (width >= 924px) {
  .Authentication {
    .login {
      width: 30%;
      margin: auto;
    }
  }
}
