.Dashboard {
  .dashboard_wrapper {
    height: 100%;

    .hero {
      .text {
        h3 {
          color: $theme_color;
        }
      }
    }

    .stats {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0.5em;

      .stat {
        background: rgb(203, 238, 243);
        padding: 0.5em 1em;
        border-radius: 12px;
        text-align: center;
      }
    }

    .updates {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 0.5em;
        margin-top: 1em;

        .update {
            border: 1px solid rgb(209, 208, 208);
            padding: 0.5em 1em;
            border-radius: 12px;

            h2 {
                font-size: 1.2em;
                font-weight: bold;
            }

            .leaves {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0.8em 0;

                .info {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    img {
                        width: 50px;
                        border-radius: 50%;
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .actions {
                    display: flex;
                    gap: 0.5em;
                }
            }
        }
    }
  }
}

@media screen and (width <= 576px) {
  .Dashboard {
    .dashboard_wrapper {
      .stats {
        grid-template-columns: 1fr;
      }
    }
  }
}
