.Employees {
  .container {
    height: 100%;
    overflow: auto;
  }
  .header {
    background: #fff;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(224, 222, 222);

    input {
      border-radius: 16px;
      border: 1px solid grey;
      padding: 0.4em 1em;
      width: 40%;
      margin: auto;
    }
  }

  .employees_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    .employee {
      background: rgb(245, 244, 244);
      border-radius: 12px;

      img {
        width: 60px;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (width <= 576px) {
  .Employees {
    .header {
      input {
        display: none;
      }
    }
    .employees_wrapper {
      grid-template-columns: 1fr;
    }
  }
}
