* {
  font-family: sans-serif, Arial, Helvetica;
  padding: 0;
  margin: 0;
}

form h1 {
  border-bottom: 1px solid rgb(214, 214, 214);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 0;
  margin: 0 0 0.5em;
}

nav,
nav .container,
nav .container ul {
  display: flex;
  align-items: center;
}

nav {
  background: #fff;
  box-shadow: 1px 1px 10px rgb(129, 129, 129);
  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav .container {
  justify-content: space-between;
}
nav .container a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
nav .container a:hover {
  color: rgb(13, 167, 218);
}
nav .container ul {
  list-style-type: none;
  margin: 0;
}
nav .container ul li {
  margin: 0 1em;
}
nav .container ul li .action_btn {
  border: 1px solid black;
  border-radius: 32px;
  padding: 6px 20px;
}
nav .container ul li .action_btn:hover {
  background: #c33764;
  color: white;
  border: 1px solid #c33764;
  transition: background 0.5s ease-in-out;
}

.Homepage .hero_section {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../images/app_background.jpg"); /* The least supported option. */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.Homepage .hero_section h1,
.Homepage .hero_section p {
  color: #fff;
  font-weight: bold;
}
.Homepage .hero_section h1 {
  font-size: 2.6em;
}
.Homepage .hero_section p {
  font-size: 1.3em;
}

.Features {
  padding: 2em 2.5em;
}
.Features .feature {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
  margin: 0 0 3em;
}
.Features .feature .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Features .feature .image img {
  width: 100%;
}
.Features .feature:nth-of-type(2) {
  grid-template-columns: 2fr 1fr;
}
.Features .feature:nth-of-type(2) .image {
  order: -1;
}

.About {
  padding: 1em 2.5em;
}
.About ul {
  list-style: none;
  display: flex;
  gap: 2.5em;
}
.About ul li a {
  font-size: 1.8em;
}

footer {
  background: #000;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
footer p {
  margin: unset;
}

.Authentication {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (width >= 924px) {
  .Authentication .login {
    width: 30%;
    margin: auto;
  }
}
.app {
  background: #0241b8;
  height: 100vh;
  display: flex;
  align-items: center;
}
.app aside {
  width: 13%;
  height: 100%;
  padding: 0.5em 0 0.2em 0.2em;
  color: #fff;
}
.app aside h1 {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}
.app aside .links ul {
  list-style: none;
}
.app aside .links ul li {
  margin: 0.1em 0;
  padding: 6px;
}
.app aside .links ul li:hover {
  background: rgb(2, 2, 70);
  border-radius: 12px;
}
.app aside .links ul li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.app aside .links ul:nth-of-type(1) {
  margin: 2em 0;
}
.app aside .links ul:nth-of-type(2) {
  position: absolute;
  bottom: 1em;
}
.app aside .links .icon {
  margin: 0 0.3em 0 0;
}
.app aside .links a span:nth-of-type(2),
.app aside .links .icon {
  font-size: 0.95em;
}
.app main {
  width: 87%;
  height: 99vh;
  overflow-y: auto;
  z-index: 5;
}
.app main .main_container {
  border-radius: 16px;
  background: #fff;
  padding-bottom: 12px;
  height: 100%;
  overflow: auto;
}
.app main .main_container .header {
  background: #fff;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(224, 222, 222);
  margin-bottom: 5px;
}
.app main .main_container .header input {
  border-radius: 16px;
  border: 1px solid grey;
  padding: 0.4em 1em;
  width: 40%;
  margin: auto;
}

@media screen and (width <= 576px) {
  .app aside h1 {
    display: none;
  }
  .app aside a span:nth-of-type(2) {
    display: none;
  }
  .app main .header input {
    display: none;
  }
}
.Dashboard .dashboard_wrapper {
  height: 100%;
}
.Dashboard .dashboard_wrapper .hero .text h3 {
  color: #0241b8;
}
.Dashboard .dashboard_wrapper .stats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}
.Dashboard .dashboard_wrapper .stats .stat {
  background: rgb(203, 238, 243);
  padding: 0.5em 1em;
  border-radius: 12px;
}
.Dashboard .dashboard_wrapper .updates {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 0.5em;
  margin-top: 1em;
}
.Dashboard .dashboard_wrapper .updates .update {
  border: 1px solid rgb(209, 208, 208);
  padding: 0.5em 1em;
  border-radius: 12px;
}
.Dashboard .dashboard_wrapper .updates .update h1 {
  font-size: 1.2em;
  font-weight: bold;
}
.Dashboard .dashboard_wrapper .updates .update .leaves {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8em 0;
}
.Dashboard .dashboard_wrapper .updates .update .leaves .info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.Dashboard .dashboard_wrapper .updates .update .leaves .info img {
  width: 50px;
  border-radius: 50%;
}
.Dashboard .dashboard_wrapper .updates .update .leaves .info .text {
  display: flex;
  flex-direction: column;
}
.Dashboard .dashboard_wrapper .updates .update .leaves .actions {
  display: flex;
  gap: 0.5em;
}

@media screen and (width <= 576px) {
  .Dashboard .dashboard_wrapper .stats {
    grid-template-columns: 1fr;
  }
}
.Employees .employees_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.Employees .employees_wrapper .employee {
  background: rgb(245, 244, 244);
  border-radius: 12px;
}
.Employees .employees_wrapper .employee img {
  width: 60px;
  border-radius: 50%;
}

@media screen and (width <= 576px) {
  .Employees .employees_wrapper {
    grid-template-columns: 1fr;
  }
}
.employee_announcements_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.employee_announcements_wrapper .announcement {
  background: rgb(233, 233, 233);
  border-radius: 12px;
}
.employee_announcements_wrapper .announcement h5 {
  font-size: 1.1em;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */