{% extends "main_layout.html" %} {% block body %}
<section class="app">
  {% include 'admin/aside.html' %}
  <main>
    <div class="main_container container login">
      <div class="body">
        <form action="" method="post">
            <h1>{{ page_title }}</h1>

            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.name.label }}
                {% if form.name.errors %}
                    {{ form.name }}
                        {% for error in form.name.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.name }}
                {% endif %}
            </div>

            <div class="row">
                <div class="col">
                    {{ form.submit }}
                </div>
                <div class="col">
                    <a href="{{ url_for('admin.departments') }}" class="btn btn-danger btn-block">Cancel</a>
                </div>
            </div>
        </form>
      </div>
    </div>
  </main>
</section>
{% endblock body %}
