<aside>
    <h1>HRClarity</h1>
    <div class="links">
        <ul>
            <li><a href="{{ url_for('admin.admin_dashboard') }}"><span class="icon icon-home"></span><span>Dashboard</span></a></li>
            <li><a href="{{ url_for('admin.employees') }}"><span class="icon icon-users"></span><span>Employees</span></a></li>
        </ul>
        <ul>
            <li><span class="icon icon-user"></span><span>{{ user.first_name }}</span></li>
            <li><a href=""><span class="icon icon-power-off"></span><span>Logout</span></a></li>
        </ul>
    </div>
</aside>