<aside>
  <h1>HRClarity</h1>
  <div class="links">
    <ul>
      <li>
        <a href="{{ url_for('admin.admin_dashboard') }}">
            <span class="icon icon-home"></span>
            <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('admin.employees') }}">
            <span class="icon icon-users"></span>
            <span>Employees</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('leaves.admin_view_leaves') }}">
            <span class="icon icon-car"></span>
            <span>Leaves</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('announcements.view_announcements') }}">
            <span class="icon icon-speaker"></span>
            <span>Announcements</span>
        </a>
      </li>

      <div class="m-2 border-top"></div>

      <li>
        <a href="{{ url_for('organization.departments') }}">
            <span class="icon icon-work"></span>
            <span>Departments</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('organization.occupations') }}">
            <span class="icon icon-briefcase"></span>
            <span>Occupations</span>
        </a>
      </li>
    </ul>


    <ul>
      <li>
        <a href="{{ url_for('user.update_profile', employee_id=current_user.id) }}">
            <span class="icon icon-user"></span>
            <span>{{ user.first_name }} {{ user.last_name }}</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('user.logout') }}">
            <span class="icon icon-power-off"></span>
            <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
