{% extends 'main_layout.html' %} {% block body %}
<section class="app">
  {% include "admin/aside.html" %}

  <main class="Dashboard">
    <div class="main_container container-fluid-fluid dashboard_wrapper p-4">
      <div class="hero container">
        <div class="text">
          <h3>Hello {{ user.first_name }}!</h3>
          <p class="text-secondary">Welcome to your dashboard</p>
        </div>
      </div>

      <div class="container stats">
        <div class="stat">
          <h3>{{ leaves_count }}</h3>
          <a href="{{ url_for('leaves.admin_view_leaves') }}" class="text-dark"
            >Leave Requests</a
          >
        </div>

        <div class="stat">
          <h3>{{ announcements_count }}</h3>
          <a
            href="{{ url_for('announcements.view_announcements') }}"
            class="text-dark"
            >Announcements</a
          >
        </div>

        <div class="stat">
          <h3>{{ employees_count }}</h3>
          <a href="{{ url_for('admin.employees') }}" class="text-dark"
            >Employees</a
          >
        </div>

        <div class="stat">
          <h3>{{ departments_count }}</h3>
          <a href="{{ url_for('organization.departments') }}" class="text-dark"
            >Departments</a
          >
        </div>

        <div class="stat">
          <h3>{{ occupations_count }}</h3>
          <a href="{{ url_for('organization.occupations') }}" class="text-dark"
            >Occupations</a
          >
        </div>
      </div>

      <div class="container updates">
        <div class="update">
            <a href="{{ url_for('leaves.admin_view_leaves') }}" class="text-dark">
                <h2 class="border-bottom">Latest Leave Requests</h2>
            </a>
            {% for leave, employee in latest_pending_leaves %}
            <div class="leaves border-bottom">
                <div class="info">
                    <img src="{{ url_for('static', filename='images/dp.jpg') }}" alt="">
                    <div class="text">
                        <span class="names">{{ employee.first_name }} {{ employee.last_name }} <span class="badge badge-info">{{ employee.occupation.name }}</span></span>
                        <span>{{ leave.leave_type }}</span>
                        <span>From <i>{{ leave.from_date }}</i> To <i>{{ leave.to_date }}</i></span>
                    </div>
                </div>

                <div class="actions">
                    <form
                      action="{{ url_for('leaves.request_approval', leave_id=leave.id, status='approved') }}"
                      method="post"
                    >
                      <button type="submit" class="btn btn-sm text-success">
                        <span class="icon icon-check text-success"></span>
                        approve
                      </button>
                    </form>

                    <form
                      action="{{ url_for('leaves.request_approval', leave_id=leave.id, status='rejected') }}"
                      method="post"
                    >
                      <button type="submit" class="btn btn-sm text-danger">
                        <span class="icon icon-cancel text-danger"></span>
                        reject
                      </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="update">
            <a href="{{ url_for('announcements.view_announcements') }}" class="text-dark">
                <h2 class="border-bottom">Today's Announcements</h2>
            </a>
            {% for announcement in announcements %}
            <div class="announcements">
                <h5>{{ announcement.title }}</h5>
                <p>{{ announcement.content  }}</p>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </main>
</section>
{% endblock body %}
