{% extends 'main_layout.html' %} {% block body %}
<section class="app">
  {% include 'admin/aside.html' %}
  <main>
    <div class="main_container container-fluid pt-2">
      <div class="header p-2 d-flex justify-content-between align-items-center">
        <h5>Departments ({{ departments_count }})</h5>
        <input
          type="text"
          id="myInput"
          onkeyup="searchFunction()"
          placeholder="Search Departments..."
          class="form-control-sm"
        />
        <a href="{{ url_for('organization.add_department') }}" class="btn btn-primary"
          >New Department</a
        >
      </div>
      {% include 'notification_message.html' %}

      <div class="departments_wrapper">
        {% for department in departments %}
        <div class="department list-group list-group-flush searchable">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span>
              <a
                href="{{ url_for('organization.update_department', department_id=department.id) }}"
              >
                {{ department.name }}
              </a>
            </span>
            <form
              action="{{ url_for('organization.delete_department', department_id=department.id) }}"
              method="post"
              onsubmit="return confirm('Are you sure you want to delete this Department?');"
            >
              <button type="submit" class="btn text-danger">
                <span class="icon icon-trash"></span>
              </button>
            </form>
          </li>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
</section>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock body %}
