{% extends 'main_layout.html' %} {% block body %}
<section class="app">
  {% include 'admin/aside.html' %}
  <main>
    <div class="main_container container-fluid pt-2">
      <div class="header p-2 d-flex justify-content-between align-items-center">
        <h5>Leaves ({{ leaves_count }})</h5>
        <input
          type="text"
          id="myInput"
          onkeyup="searchFunction()"
          placeholder="Search Leaves..."
          class="form-control-sm"
        />
        <h5>
          Pending - <span class="badge badge-info">{{ pending_leaves }}</span>
        </h5>
      </div>
      {% include 'notification_message.html' %}

      <div class="leaves_wrapper">
        <table class="table">
          <thead>
            <tr>
              <th>Employee</th>
              <th>Leave Type</th>
              <th>From</th>
              <th>To</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for leave, employee in leaves %}
            <tr class="searchable">
              <td>{{ employee.first_name }} {{ employee.last_name }}</td>
              <td>{{ leave.leave_type }}</td>
              <td>{{ leave.from_date.strftime('%d-%m-%Y') }}</td>
              <td>{{ leave.to_date.strftime('%d-%m-%Y') }}</td>
              <td
                class="{% if leave.status == 'pending' %}text-primary{% elif leave.status == 'approved'%}text-success{%else%}text-danger{% endif %}"
              >
                {{ leave.status }}
              </td>
              <td>
                <div class="row">
                  <div class="col border-right">
                    <form
                      action="{{ url_for('leaves.request_approval', leave_id=leave.id, status='approved') }}"
                      method="post"
                    >
                      <button type="submit" class="btn text-success">
                        <span class="icon icon-check text-success"></span>
                        approve
                      </button>
                    </form>
                  </div>

                  <div class="col">
                    <form
                      action="{{ url_for('leaves.request_approval', leave_id=leave.id, status='rejected') }}"
                      method="post"
                    >
                      <button type="submit" class="btn text-danger">
                        <span class="icon icon-cancel text-danger"></span>
                        reject
                      </button>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
</section>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock body %}
