{% extends "main_layout.html" %} {% block body %}
<section class="app">
  {% include 'admin/aside.html' %}
  <main>
    <div class="container login">
      <div class="body">
        <form action="" method="post">
          <h1>{{ page_title }}</h1>

          {{ form.hidden_tag() }}

          <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.first_name.label }}
                    {% if form.first_name.errors %}
                        {{ form.first_name }}
                            {% for error in form.first_name.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.first_name }}
                    {% endif %}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ form.last_name.label }}
                    {% if form.last_name.errors %}
                        {{ form.last_name }}
                            {% for error in form.last_name.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.last_name }}
                    {% endif %}
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.gender.label }}
                    {% if form.gender.errors %}
                        {{ form.gender }}
                            {% for error in form.gender.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.gender }}
                    {% endif %}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ form.dob.label }}
                    {% if form.dob.errors %}
                        {{ form.dob }}
                            {% for error in form.dob.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.dob }}
                    {% endif %}
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.email_address.label }}
                    {% if form.email_address.errors %}
                        {{ form.email_address }}
                            {% for error in form.email_address.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.email_address }}
                    {% endif %}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ form.phone_number.label }}
                    {% if form.phone_number.errors %}
                        {{ form.phone_number }}
                            {% for error in form.phone_number.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.phone_number }}
                    {% endif %}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ form.national_id.label }}
                    {% if form.national_id.errors %}
                        {{ form.national_id }}
                            {% for error in form.national_id.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.national_id }}
                    {% endif %}
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.occupation.label }}
                    {% if form.occupation.errors %}
                        {{ form.occupation }}
                            {% for error in form.occupation.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.occupation }}
                    {% endif %}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ form.user_level.label }}
                    {% if form.user_level.errors %}
                        {{ form.user_level }}
                            {% for error in form.user_level.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.user_level }}
                    {% endif %}
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
                {{ form.submit }}
            </div>
            <div class="col">
                <a href="{{ url_for('admin.employees') }}" class="btn btn-danger btn-block">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</section>
{% endblock body %}
