{% extends "main_layout.html" %}

{% block body %}
    <section class="Homepage">
        <div class="hero_section">
            <h1>HRClarity</h1>
            <p>Human Resource Management made easy</p>
        </div>

        <section class="Features" id="Features">
            <div class="features_wrapper container">
                <div class="feature">
                    <div class="details">
                        <h1>Leaves</h1>
                        <p>Making leave requests has never been easier. With just a few details to fill in, your request is sent and ready to be reviewed by the HR.</p>
                    </div>
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/leaves.png') }}" alt="Leaves">
                    </div>
                </div>

                <div class="feature">
                    <div class="details">
                        <h1>Announcements</h1>
                        <p>HR managers can easily make announcements viewable by all employees in the organization.</p>
                    </div>
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/announcements.png') }}" alt="Announcements">
                    </div>
                </div>

                <div class="feature">
                    <div class="details">
                        <h1>Employees</h1>
                        <p>Verifying, viewing and updating employees data has never been easier. Experience the power of easily searching through all the employees in the organization.</p>
                    </div>
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/employees.png') }}" alt="Employees">
                    </div>
                </div>
            </div>
        </section>

        <section class="About" id="About">
            <div class="container">
                <div class="inspiration">
                <p>The project was inspired by the struggle observed when working with a small organization that needed a HR software but the only available solutions were premium versions of very expensive HR software.</p>
                <p>Despite the high pricing, the software didn't really offer an efficient way for employees to get registered into the system. Thus the creation of HRClarity to ease the process of employees being registered into the system and also making it easy to perform HR functions such as approving or rejecting leave requests.</p>
            </div>

            <div class="socials">
                <div class="team">
                    <p>Team's social profile links:</p>
                    <ul>
                        <li><a href="https://twitter.com/aaquil_alex" target="_blank"><span class="icon icon-twitter"></span></a></li>
                        <li><a href="https://github.com/AlexWambui" target="_blank"><span class="icon icon-github"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/alexwambui/" target="_blank"><span class="icon icon-linkedin"></span></a></li>
                    </ul>
                </div>

                <div class="project">
                    <p>View the project on Github:</p>
                    <ul>
                        <li><a href="https://github.com/AlexWambui/HRClarity" target="_blank"><span class="icon icon-github"></span></a></li>
                    </ul>
                </div>
            </div>
            </div>
        </section>

        <footer>
            <div class="copyright">
                <p>&copy; 2023 | All rights reserved | Made by AlexAaqil</p>
            </div>
        </footer>
    </section>
{% endblock body %}