{% extends "main_layout.html" %}

{% block body %}
{% include 'navbar.html' %}
{% include 'notification_message.html' %}
<section class="Authentication">
    <div class="container login">
        <div class="body">
            <form action="" method="post">
                <h1>{{ page_title }}</h1>

                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.email_address.label }}
                    {% if form.email_address.errors %}
                        {{ form.email_address(class="form-control invalid_input") }}
                        {% for error in form.email_address.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.email_address }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>

                <div class="form-group">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock body %}