  <footer class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>HRClarity</h4>
        </div>

        <div class="col">
            <h4>Products</h4>
            <p>Time and Attendance</p>
            <p>Payroll, compliance & payrolls</p>
            <p>Perks and Benefits</p>
            <p>Perfomance Management</p>
            <p>Expense claims</p>
            <p>Leaves and Time off</p>
            <p>EOR Services</p>
        </div>

        <div class="col">
          <h4>Built for You</h4>
          <p>Startups</p>
          <p>Banks</p>
          <p>Hospitality</p>
          <p>Retail</p>
          <p>Construction</p>
          <p>Healthcare</p>
          <p>Manufacturing</p>
        </div>

        <div class="col">
            <h4>Resources</h4>
            <p><a href="{{ url_for('main.about') }}">About us</a></p>
            <p>Careers</p>
            <p>Pricing</p>
            <p>Partners</p>
            <p>Blog</p>
            <p>Knowledgebase</p>
            <p>Customer Testimonials</p>
        </div>

        <div class="col">
            <h4>Socials</h4>
            <p>
                Contribute on Github: <span class="icon icon-github"></span>
                <a href="https://github.com/AlexAaqil/HRClarity"></a>
          </p>
        </div>
      </div>
    </div>

    <div class="copyright mt-4 border-top pt-2">
      <p>&copy; 2023 | All rights reserved | Made by AlexAaqil</p>
    </div>
  </footer>